{% extends 'base.html.twig' %}

{% block title %}Protokoll Ausgabe - {{ geraet }}{% endblock %}

{% block body %}
    <form method="get" target="./">
        <input type="submit" name="format"
               class="button" value="html" />

        <input type="submit" name="format"
               class="button" value="md" label="markdown" />
    </form>


<div class="output-wrapper">

    {{ output|raw }}

</div>
{% endblock %}
