{% extends 'base.html.twig' %}

{% block title %}Hello ProtomuncherController!{% endblock %}

<div id="messagecontainer" class="container dx-4 justify-content-center text-white mx-auto mt-2 mb-5">
    <h6>Messages:</h6>
    {% block flash %}

    {% endblock%}

</div>

{% block body %}

    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/php/symprot/src/Controller/ProtomuncherController.php'|file_link(0) }}">src/Controller/ProtomuncherController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/php/symprot/templates/protomuncher/index.html.twig'|file_link(0) }}">templates/protomuncher/index.html.twig</a></code></li>
    </ul>
{% endblock %}
