{% extends 'base.html.twig' %}

{% block title %}Hello ProtomuncherController!{% endblock %}

{% block body %}

    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/php/symprot/src/Controller/ProtomuncherController.php'|file_link(0) }}">src/Controller/ProtomuncherController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/php/symprot/templates/protomuncher/index.html.twig'|file_link(0) }}">templates/protomuncher/index.html.twig</a></code></li>
    </ul>
{% endblock %}
