{% extends 'base.html.twig' %}

{# templates/protomuncher/upload.html.twig #}

{% block title %}Hello ProtomuncherController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        {% block flash %}
            <h3>Messages:</h3>
        {% endblock%}

        {{ protocol.protocolFile }}
    </div>

    <div class="example-wrapper">
        <h1>Protokoll hochladen</h1>

        {{ form(form) }}

    </div>

{% endblock %}
