{% extends 'base.html.twig' %}

{# templates/protomuncher/upload.html.twig #}

{% block title %}Hello ProtomuncherController!{% endblock %}

{% block body %}

    <div class="dx-4 d-flex justify-content-center text-white mx-auto mt-2 mb-5">
        <h6>Messages:</h6>
        {% block flash %}
        {% endblock%}

        {{ protocol.protocolFile }}
    </div>

    <div class="container-fluid dx-4 d-flex justify-content-center text-white mx-auto mt-2 mb-5">
        <h2>Protokoll hochladen</h2>

        {{ form(form) }}

    </div>

{% endblock %}
